In [1]:
import numpy as np

In [2]:
# Define a custom data type
data_type = np.dtype([('name', 'U10'), ('age', 'i4'), ('score', 'f4')])

In [6]:
# Create an array with the custom data type
students = np.array([('Aditya', 21, 95.5), ('Bharat', 23, 80.0), ('Siddhant', 18, 80.0)], dtype=data_type)

In [7]:
# Accessing elements
print("Names:", students['name'])
print("Ages:", students['age'])
print("Scores:", students['score'])

Names: ['Aditya' 'Bharat' 'Siddhant']
Ages: [21 23 18]
Scores: [95.5 80.  80. ]